@use 'variables' as v;
@use 'sass:color';
@use 'mixins' as m;
@use 'placeholders';


.mobile-navigation {
    position: relative;
    display: none;

    @media (max-width: v.$media-md) {
        display: block;
    }

    &__burger {
        @include m.position (absolute, 1, -1, top, right, -40px, 15px);

        &-icon {
            width: 30px;
            height: 30px;
            filter: invert(1);
            cursor: pointer;

            &:hover {
                filter: none;

            }
        }
    }

    &-toggler {
        display: none;
        z-index: 999;
    }

    &-toggler:checked+.nav {

        transform: translateX(0);


    }

    .nav {
        padding: 100px 70px 20px;

        @include m.position (fixed, 999, 0);
        background-color: color.adjust(v.$black-color, $alpha: -0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transform: translateX(100%);
        transition: transform 220ms;

        &__list {
            @include m.d-flex(start, start, nowrap, column, 0, 20px);

            &-item {
                &-link {
                    @include m.font (20px, 400, v.$white-color);
                }
            }
        }
    }

    &__cross {
        @include m.position (absolute, 1, -1, top, right, 20px, 15px);
    }




}