@use 'variables' as v;




%hover-black {
    &:hover {
        cursor: pointer;
        color: v.$black-color;
    }
}

%hover-white {
    &:hover {
        cursor: pointer;
        color: v.$white-color;
    }
}


%hover-black-icon {
    &:hover {
        cursor: pointer;
        filter: invert(1);
        
    }
}